
<div class="seasons">
  <div class="seasons-arrow-up item-2"></div> <!-- item-1 / item-2 / ... / item-5 -->
  <div class="season"> <!-- open -->
    <div class="season-info">
      <h3 class="season-title"><a href="#" class="arrow"><i></i></a><a class="title" href="#">Season 3</a></h3>
      <div class="season-description">2009&mdash;10</div>
    </div>
    <div class="episodes">
      <ul class="episodes-list">
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode hidden">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode hidden">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode hidden">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="season open"> <!-- open -->
    <div class="season-info">
      <h3 class="season-title"><a href="#" class="arrow"><i></i></a><a class="title" href="#">Season 2</a></h3>
      <div class="season-description">2009&mdash;10</div>
    </div>
    <div class="episodes">
      <ul class="episodes-list">
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="season"> <!-- open -->
    <div class="season-info">
      <h3 class="season-title"><a href="#" class="arrow"><i></i></a><a class="title" href="#">Season 1</a></h3>
      <div class="season-description">2009&mdash;10</div>
    </div>
    <div class="episodes">
      <ul class="episodes-list">
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode hidden">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode hidden">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
        <li class="episode hidden">
          <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
          <ul class="actions">
            <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
            <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
            <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
          </ul>
          <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
          <div class="episode-info">
            <a href="#" class="episode-title">Episode 23</a>
            <a href="#" class="episode-description">The monopolar expedition</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
