<%= render :partial => "top_panel"  %>
<div class="downloads">
  <ul class="downloads-list">
    <li class="downloads-list-item opened transparent"> <!-- opened -->
      <div class="info-box">
        <div class="info">
          <a class="icon" href="#"></a>
          <strong class="title"><a href="#">[torrents.ru]HouseM.D._allseasons.torrent</a></strong>
          <div class="files-info">3.2 GB - 8 files</div>
        </div>
        <div class="status">
          <em class="status-name downloading">Downloading 2%</em> <!-- downloading / transcoding / watch -->
          <div class="time-left">2 hours 34 minutres left</div>
          <div class="status-icon status-2"></div>
        </div>
      </div>
      <div class="folders">
        <ul class="folders-list">
          <li class="folder opened"> <!-- opened -->
            <div class="folder-info">
              <a href="#" class="folder-name"><i class="icon"></i>Some folder name like House M.D. s01</a>
              <i class="hr"></i>
            </div>
            <div class="files">
              <ul class="files-list">
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-1"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-2"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-3"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-4"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-5"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-6"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-7"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-8"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
              </ul>
            </div>
          </li>
          <li class="folder opened"> <!-- opened -->
            <div class="folder-info">
              <a href="#" class="folder-name"><i class="icon"></i>Some folder name like House M.D. s01</a>
              <i class="hr"></i>
            </div>
            <div class="files">
              <ul class="files-list">
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-1"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-2"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-3"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-4"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-5"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-6"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-7"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-8"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="downloads-list-item"> <!-- opened -->
      <div class="info-box">
        <div class="info">
          <a class="icon" href="#"></a>
          <strong class="title"><a href="#">[torrents.ru]HouseM.D._allseasons.torrent</a></strong>
          <div class="files-info">3.2 GB - 8 files</div>
        </div>
        <div class="status">
          <em class="status-name watch">Downloading 2%</em> <!-- downloading / transcoding / watch -->
          <div class="time-left">2 hours 34 minutres left</div>
          <div class="status-icon status-2"></div>
        </div>
      </div>
      <div class="folders">
        <ul class="folders-list">
          <li class="folder opened"> <!-- opened -->
            <div class="folder-info">
              <a href="#" class="folder-name"><i class="icon"></i>Some folder name like House M.D. s01</a>
              <i class="hr"></i>
            </div>
            <div class="files">
              <ul class="files-list">
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-1"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-2"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-3"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-4"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-5"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-6"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-7"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-8"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="downloads-list-item"> <!-- opened -->
      <div class="info-box">
        <div class="info">
          <a class="icon" href="#"></a>
          <strong class="title"><a href="#">[torrents.ru]HouseM.D._allseasons.torrent</a></strong>
          <div class="files-info">3.2 GB - 8 files</div>
        </div>
        <div class="status">
          <em class="status-name transcoding">Downloading 2%</em> <!-- downloading / transcoding / watch -->
          <div class="time-left">2 hours 34 minutres left</div>
          <div class="status-icon status-2"></div>
        </div>
      </div>
      <div class="folders">
        <ul class="folders-list">
          <li class="folder opened"> <!-- opened -->
            <div class="folder-info">
              <a href="#" class="folder-name"><i class="icon"></i>Some folder name like House M.D. s01</a>
              <i class="hr"></i>
            </div>
            <div class="files">
              <ul class="files-list">
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-1"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-2"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-3"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-4"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-5"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-6"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file filled">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-7"></a>
                  <span class="tooltip dont-download">Don't download<i></i></span>
                </li>
                <li class="file">
                  <a href="#" class="name">House.M.D.s01e08.rus.LostFilm.TV.avi</a>
                  <span class="size">0.5 GB</span>
                  <a href="#" class="status status-8"></a>
                  <span class="tooltip download">Download<i></i></span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>