<li class="video-list-item">
  <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
  <ul class="actions">
    <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
    <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
    <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
  </ul>
  <div class="img">
    <a href="#">
      <img src="images/body-video-thumb.jpg" alt="img" />
      <span class="shadow"></span>
    </a>
    <a href="#" class="play"></a>
  </div> <!-- class hover -->
  <div class="description">
    <a href="#">
      <span class="title">Garfield: A Tail of Two...</span>
      <span class="duration">85 minutes</span>
    </a>
  </div>
</li>