<div class="top-panel">
  <div class="selector">
    <ul class="selector-list">
      <li class="selector-item videos">
        <a href="#">
          <span class="text">328 videos</span>
          <i class="border-right"></i>
        </a>
      </li>
      <li class="selector-item movies current">
        <span class="text">45 movies</span>
        <i class="border-right"></i>
      </li>
      <li class="selector-item tv-shows">
        <a href="#">
          <span class="text">4 TV shows</span>
          <i class="border-right"></i>
        </a>
      </li>
      <li class="selector-item unwatched">
        <a href="#">
          <span class="text">3 unwatched</span>
          <i class="border-right"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="space">
    <div class="progress-bar">
      <div class="filled percents-40">
        <i class="border-left"></i><i class="border-right"></i>
      </div>
    </div>
    <div class="int">
      <span class="current">4.2</span> / 10 GB
    </div>
  </div>
</div>