<div class="top-panel">
  <div class="selector">
    <ul class="selector-list">
      <li class="selector-item videos">
        <a href="#">
          <span class="text">328 videos</span>
          <i class="border-right"></i>
        </a>
      </li>
      <li class="selector-item movies current">
        <span class="text">45 movies</span>
        <i class="border-right"></i>
      </li>
      <li class="selector-item tv-shows">
        <a href="#">
          <span class="text">4 TV shows</span>
          <i class="border-right"></i>
        </a>
      </li>
      <li class="selector-item unwatched">
        <a href="#">
          <span class="text">3 unwatched</span>
          <i class="border-right"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="space">
    <div class="progress-bar"><div class="filled percents-40"><i class="border-left"></i><i class="border-right"></i></div></div>
    <div class="int">
      <span class="current">4.2</span> / 10 GB
    </div>
  </div>
</div>
<div class="video">
  <ul class="video-list">
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><i class="border-left"></i><i class="border-top"></i><i class="border-right"></i><i class="border-bottom"></i><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">2 seasons, 189 episodes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item blue-borders blue-font-color">
      <div class="indicator hidden"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><i class="border-left"></i><i class="border-top"></i><i class="border-right"></i><i class="border-bottom"></i><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item blue-borders blue-font-color">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
  </ul>


  <div class="seasons">
    <div class="seasons-arrow-up item-2"></div> <!-- item-1 / item-2 / ... / item-5 -->
    <div class="season"> <!-- open -->
      <div class="season-info">
        <h3 class="season-title"><a href="#" class="arrow"><i></i></a><a class="title" href="#">Season 3</a></h3>
        <div class="season-description">2009&mdash;10</div>
      </div>
      <div class="episodes">
        <ul class="episodes-list">
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode hidden">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode hidden">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode hidden">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="season open"> <!-- open -->
      <div class="season-info">
        <h3 class="season-title"><a href="#" class="arrow"><i></i></a><a class="title" href="#">Season 2</a></h3>
        <div class="season-description">2009&mdash;10</div>
      </div>
      <div class="episodes">
        <ul class="episodes-list">
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="season"> <!-- open -->
      <div class="season-info">
        <h3 class="season-title"><a href="#" class="arrow"><i></i></a><a class="title" href="#">Season 1</a></h3>
        <div class="season-description">2009&mdash;10</div>
      </div>
      <div class="episodes">
        <ul class="episodes-list">
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode hidden">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode hidden">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
          <li class="episode hidden">
            <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
            <ul class="actions">
              <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
              <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
              <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
            </ul>
            <div class="img"><a href="#"><img src="images/body-episode-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
            <div class="episode-info">
              <a href="#" class="episode-title">Episode 23</a>
              <a href="#" class="episode-description">The monopolar expedition</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="video-list">
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
    <li class="video-list-item">
      <div class="indicator"><a href="#" class="shared"></a></div> <!-- download / downloaded / shared / ontheway1 / ontheway2 / ontheway3 / ontheway4 / ... / ontheway10 -->
      <ul class="actions">
        <li class="actions-item edit"><a href="#">Edit<i class="border-right"></i></a></li>
        <li class="actions-item share"><a href="#">Share<i class="arrow"></i></a></li>
        <li class="actions-item trash"><a href="#">Trash<i class="border-left"></i></a></li>
      </ul>
      <div class="img"><a href="#"><img src="images/body-video-thumb.jpg" alt="img" /><span class="shadow"></span></a><a href="#" class="play"></a></div> <!-- class hover -->
      <div class="description">
        <a href="#">
          <span class="title">Garfield: A Tail of Two...</span>
          <span class="duration">85 minutes</span>
        </a>
      </div>
    </li>
  </ul>
</div>
