<div class="footer">
  <div class="footerWrapper">
    <div class="left"><a href="#" class="bug">Found bug?</a></div>
    <div class="right"><a href="#" class="pp">Privacy Policy</a> <a href="#" class="useragreement">User Agreement</a></div>
  </div>
</div>
