<div class="neck">
  <div class="nav-wrapper">
    <ul class="nav">
      <%= nav_item(videos_path,"Videos","videos") -%>
      <%= nav_item(root_path,"Store","store") -%>
      <%= nav_item(downloads_path,"Downloads","downloads",3) -%>
    </ul>
  </div>
  <div class="neck-search">
    <div class="wrapper">
      <input id="search" placeholder="Search" />
      <a href="#">
        <%= image_tag "neck-search-button.gif", :title => "Search", :alt => "Search" %>
      </a>
      <i class="border-left"></i><i class="border-right"></i><i class="bg"></i>
    </div>
  </div>
</div>
    
