<div class="neck">
  <div class="nav-wrapper">
    <ul class="nav">
      <li class="nav-item videos current">
        <span class="text">Videos</span>
        <i class="border-left"></i><i class="border-right"></i><i class="bg"></i>
      </li>
      <li class="nav-item store">
        <a href="#">
          <span class="text">Store</span>
          <i class="border-left"></i><i class="border-right"></i><i class="bg"></i>
        </a>
      </li>
      <li class="nav-item downloads">
        <a href="#">
          <span class="text">Downloads</span>
          <i class="border-left"></i><i class="border-right"></i><i class="bg"></i>
          <strong class="count">3</strong>
        </a>
      </li>
    </ul>
  </div>
  <div class="neck-search">
    <div class="wrapper">
      <input id="search" placeholder="Search" />
      <a href="#"><img src="images/neck-search-button.gif" alt="Найти" /></a>
      <i class="border-left"></i><i class="border-right"></i><i class="bg"></i>
    </div>
  </div>
</div>
    
